COMPOSE_PROJECT_NAME=danilka-tech-prod
APP_NAME=danilka-tech
APP_ENV=prod
PROXY_NETWORK=proxy
DATA_NETWORK=data
APP_IMAGE=registry.example.com/namespace/danilka.tech:sha-change-me
APP_ENV_FILE=../../env/prod/danilka-tech.env
APP_HOST=danilka.tech
APP_URL_BASE=https://danilka.tech
APP_URL=https://danilka.tech/api/health
APP_PORT=3000
APP_HEALTHCHECK_PATH=/api/health
