COMPOSE_PROJECT_NAME=mailpit

TZ=UTC
DATA_NETWORK=data
PROXY_NETWORK=proxy

MAILPIT_VERSION=v1.30.0
MAILPIT_HOST=mailpit.example.com
MAILPIT_MAX_MESSAGES=5000
# Example hash for password "change-me-now". Replace before production usage.
MAILPIT_UI_BASIC_AUTH_USERS=admin:$$apr1$$B0n9m8eP$$yVZqzjYw2GvUf1Stj6G2j0
