COMPOSE_PROJECT_NAME=freelance-prod
APP_NAME=freelance
APP_ENV=prod
PROXY_NETWORK=proxy
APP_IMAGE=registry.danilka.tech/apps/freelance-ledger:app-release-20260720-3@sha256:125094a2f8b6cd4da6b6019b79e97420055c17059aadba7b40fc5a6c8c6f862a
WEB_IMAGE=registry.danilka.tech/apps/freelance-ledger:web-release-20260720-3@sha256:55c5326998c21fce17ab2804c8e40f51901e5dc74639a4f9e4e472c2fae780be
MYSQL_IMAGE=mysql@sha256:da906917ca4ace3ba55538b7c2ee97a9bc865ef14a4b6920b021f0249d603f3d
APP_ENV_FILE=../../env/prod/freelance.env
MYSQL_ENV_FILE=../../env/prod/freelance-mysql.env
APP_HOST=freelance.danilka.tech
APP_URL=https://freelance.danilka.tech/up
APP_PORT=80
APP_HEALTHCHECK_PATH=/up
