COMPOSE_PROJECT_NAME=freelance-prod
APP_NAME=freelance
APP_ENV=prod
PROXY_NETWORK=proxy
APP_IMAGE=registry.danilka.tech/apps/freelance-ledger:app-release-20260720-6@sha256:2476dccc9722667fa1c8ea8d61845f47dc34525c4b515693f9bf5fc0518109fd
WEB_IMAGE=registry.danilka.tech/apps/freelance-ledger:web-release-20260720-6@sha256:2d999bb34e3e6c643b1d77382a3442c470b3e3fa58df5ce9f7a66ef19648006c
MYSQL_IMAGE=mysql@sha256:da906917ca4ace3ba55538b7c2ee97a9bc865ef14a4b6920b021f0249d603f3d
APP_ENV_FILE=../../env/prod/freelance.env
MYSQL_ENV_FILE=../../env/prod/freelance-mysql.env
APP_HOST=freelance.danilka.tech
APP_URL=https://freelance.danilka.tech/up
APP_PORT=80
APP_HEALTHCHECK_PATH=/up
