COMPOSE_PROJECT_NAME=freelance-prod
APP_NAME=freelance
APP_ENV=prod
PROXY_NETWORK=proxy
APP_IMAGE=registry.danilka.tech/apps/freelance-ledger:app-release-20260720-8@sha256:3aebd794f2b03234850841ba285b9b385a35109d6c1b979a61c14ee7f254aabe
WEB_IMAGE=registry.danilka.tech/apps/freelance-ledger:web-release-20260720-8@sha256:ca41c37bf28b09eb83db51765a904bad1677b5d014457d71b6e795eb4f0e0b94
MYSQL_IMAGE=mysql@sha256:da906917ca4ace3ba55538b7c2ee97a9bc865ef14a4b6920b021f0249d603f3d
APP_ENV_FILE=../../env/prod/freelance.env
MYSQL_ENV_FILE=../../env/prod/freelance-mysql.env
APP_HOST=freelance.danilka.tech
APP_URL=https://freelance.danilka.tech/up
APP_PORT=80
APP_HEALTHCHECK_PATH=/up
